.aside-container {
    margin: 0;
    width:25%;
    display: flex;
    font-size: 100%;
    padding-left: 0;
    background: #FFFF;
    border-radius: 0  0 1rem 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    flex-direction: column;
    height: 100%;
}
.menu-items {
    display: flex;
    padding-left: 0;
    padding-bottom: 0;
    height: 100%;
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 5%;
    flex-direction: column;
    width: min-content;

}

.item-button{
    font-size: 100%;
    font-family: Times, Times New Roman, serif;

}
.item-button:hover {
    font-weight: bold;
}
.menu-items:first-child {
    margin-top: 10%; /* Перша item зліва */

}

.menu-item,li{
    list-style: none;
    font-weight:400 ;
    cursor: pointer;


}
.acontainer {
    display: flex;
    flex-grow: 1;
    height: calc(100% - 60px);

}
.menu-item{
    margin: 8% 8% 3% 3%;
}
.sideMenu{
    height: 100%;

}


.marine {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    height: auto;
    border-radius: 0 0 2rem 1rem;
}