
body {
    position: relative;
    height: 100vh;
    margin: 0;
    background: transparent;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url('https://i.pinimg.com/originals/1d/3d/bf/1d3dbf048330590da90564fc6404451a.gif') center/cover no-repeat;
    z-index: -1;
    filter: blur(5px);
    background-blend-mode: multiply;
}
body::after {
    content: '';
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}


.cover-container {
    max-width: 42em;
}
h3, h1, h2,h4,h5,h6,p{
    color: white;
}
main.px-6 {
    padding-bottom: 10rem;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: #fff;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.cover-container h1 {
    font-size: 3.5rem;
}

.cover-container p {
    font-size: 1.2rem;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    color: #333;
    text-shadow: none;
}
@media (min-width: 40em) {

    body {
        padding-top: 3rem;
    }
    .cover-container {
        max-width: 80%;
    }
}
.navflex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}