.aside-container {
    margin: 0;
    width:25%;
    display: flex;
    font-size: 100%;
    padding-left: 0;
    background: #FFFF;
    border-radius: 0  0 1rem 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    flex-direction: column;
    height: 100%;
}
.menu-items {
    display: flex;
    padding-left: 0;
    padding-bottom: 0;
    height: 100%;
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 5%;
    flex-direction: column;
    width: min-content;

}

.item-button{
    font-size: 100%;
    font-family: Times, Times New Roman, serif;

}
.item-button:hover {
    font-weight: bold;
}
.menu-items:first-child {
    margin-top: 10%; /* Перша item зліва */

}

.menu-item,li{
    list-style: none;
    font-weight:400 ;
    cursor: pointer;


}
.acontainer {
    display: flex;
    flex-grow: 1;
    height: calc(100% - 60px);

}
.menu-item{
    margin: 8% 8% 3% 3%;
}
.sideMenu{
    height: 100%;

}


.marine {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    height: auto;
    border-radius: 0 0 2rem 1rem;
}




body {
    position: relative; /* Для позиціонування псевдоелемента */
    height: 100%; /* Висота body для заповнення всього вікна перегляду */
    margin: 0; /* Видалення маржинів */
    background: transparent;
    overflow: hidden; /* Щоб псевдоелемент не виходив за межі body */
}

body::before, body::after {
    content: ''; /* Псевдоелементи вимагають властивості content */
    position: absolute; /* ::after змінено на absolute для узгодження з ::before */
    top: 0; right: 0; bottom: 0; left: 0; /* Псевдоелементи заповнюють весь body */
    z-index: -1; /* Псевдоелементи під іншим змістом */
}

body::before {
    background: url('https://i.pinimg.com/originals/39/ed/7f/39ed7f48269fc4de84a43825868d06ce.gif') center/cover no-repeat;
    filter: blur(5px); /* Розмитість фонового зображення */
    background-blend-mode: multiply; /* Якщо ви хочете застосувати blend mode */
}

body::after {
    background: rgba(0, 0, 0, 0.5); /* Виправлена помилка в значенні rgba */
    position: fixed; /* Фіксоване позиціонування для затемненого шару */
}
