* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table {
    width: 100%;
    position: relative;
    z-index: 6;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    background-color: #FFFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.table-header p {
    color: black;

}

.table-selection {
    max-height: 650px;
    overflow: auto;
}

.table-container {
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 60%;
}

table {
    border-radius: 1rem;
    table-layout: auto;
    border-collapse: collapse;
    margin-right: 5px;
    width: 100%;
}

button {
    outline: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 10px;

}

.add-new-div {
    background-color: #ffb0d7;
    border-radius: 1rem;
    flex-direction: column;
    align-content: center;
    text-align: center;

}
.add-new-div p{
    font-size: 12px;
    align-self: center;
    margin: 0 5px 5px 5px;
}

.student-title {
    font-size: 20px;
}

.dialogue1 {
    margin-right: 0;
    justify-content: flex-end;
    padding: 10px 20px;
    color: #ffff;
    background-color: #ffb0d7;
}


td button:nth-child(1), td button:nth-child(2) {
    background-color: #ffb0d7;
}

input {
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid plum;
    border-radius: 1rem;
    color: #ffb0d7;
}

::placeholder {
    color: #ffb0d7;
}



thead th {
    position: sticky;
    top: 0;
    background-color: transparent;
    color: black;
    font-size: 15px;
    min-width: 120px;
}

th, td {
    white-space: nowrap;
    border-bottom: 2px solid white;
    padding: 10px;
    text-align: center;
}
